/* Stylesheet for L.A. Rights
   Kacy McKibben
   July 2016
   www.larights.com*/

/*=== GENERAL STYLES ===*/
/* dark blue #14324B
   orange #FFAB3C
   light blue #507798 */

html, body {
	height: 100%;
}
body {
	color: #353535;
	font-family: Lato, sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding-top: 77px;
}
@media (max-width: 414px) {
	body {
		padding-top: 68px;
	}
}
h1, h2 {
	color: #14324B; /* dark blue */
	font-family: Lato, sans-serif;
	font-weight: 700;
}
h3 {
	font-weight: 400;
	line-height: 1.6;
}
h4, h5 {
	font-weight: 400;
	line-height: 1.4;
}
p {
	line-height: 26px;
}
a{
	color: #507798;
}
li {
	line-height: 2.0em;
}
.large-text {
	color: #353535;
	line-height: 42px;
	padding: 0 0 15px 0;
}
.font-italic {
	font-style: italic;
}
.btn {
	border-radius: 0;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	font-family: Lato, sans-serif;
	font-weight: 700;
}
.btn-espanol {
	background-color: #FFCA84;
	color: #353535;
	font-weight: 400;
}
.btn-espanol:hover {
	background-color: #ffc170;
	color: #353535;
}
.btn-learnmore {
	margin: 10px 0px 0px 0px;
}
.page-title {
	padding: 40px 0 30px 0;
}
.align-top {
	margin-top: 0!important;
	padding-top: 0!important;
}
.language {
	border-left: 1px solid rgba(0,0,0,0.2);
}
.white {
	color: #fff;
}
.img-center {
	margin: 0 auto;
}

@media (max-width: 414px) {
	.page-title {
		font-size: 24px;
		padding: 0;
	}
}

/*=== HOME ===*/
/*--- Navigation ---*/
.navbar-brand {
	/*display: inline-block;
	text-indent: -9999px;
	background: url(img/logo.png) no-repeat;
	height: 76px;
	width: 177px;
	margin-right: 20px;*/
	display: flex;
	justify-content: center;
	height: 75px;
/*	margin: 10px;
	padding: 10px;*/
}
.tagline {
	margin: 20px 0 !important;
	top: 50%;
	width: 180px;
	display: inline-block;
}
.navbar {
	background-color: rgba(255,255,255,0.95);
	-webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.1);
 	-moz-box-shadow:0px 1px 3px rgba(0,0,0,0.1);
 	box-shadow:0px 1px 3px rgba(0,0,0,0.1);
}
.navbar-nav {
	padding: 0 20px;
}
.nav-link {
	color: #353535;
	font-family: Lato;
	font-size: 13px;
	font-weight: 400;
	padding: 10px 20px 10px 20px !important;
	margin-top: 15px;
}
/*a.nav-link:hover {
	background-color: #14324B;
}*/
a.nav-link:hover {
	background-color: rgba(0,0,0,0.03)!important;
	border-radius: 4px;
	color: #14324B;
}
.active {
	border-bottom: 3px solid #14324B;
}
a.nav-link-espanol:hover {
	background-color: transparent!important;
	color: #fff;
}
#nav-link-espanol-desktop {
	margin-top: 5px;
	vertical-align: center;
}

@media (max-width: 414px) {
	.navbar-brand {
		/*display: inline-block;
		text-indent: -9999px;
		background: url(img/logo.png) no-repeat;
		height: 76px;
		width: 177px;
		margin-right: 20px;*/

		display: inline;
		/*justify-content: center;
		height: 50px;*/
		float:none;
		
		margin: 0px;
		/*position: absolute;
		text-align: center;*/
		/*left: 0;
		top: 0;*/
		/*margin: 0px auto!important;*/
		padding: 2px 0px;
	}
	.navbar-brand-div {
		position: absolute;
		text-align: center;
		left: 0;
		top: 0;
		margin: 0px auto!important;
		padding: 0px;
		width: 100%!important;
	}
	.navbar-brand > img {
		margin: 7px auto!important;
		width: 100px;
	}
	.navbar-toggle {
		border: transparent;
		float: left;
		margin: 13px 5px 5px 5px;
		padding: 6px 19px!important;
		z-index: 1;
	}
	.nav-link-espanol {
		display: inline!important;
		float: right;
		padding: 4px 6px!important;
		z-index: 2;
	}
	#nav-link-espanol-desktop {
		display: none!important;
	}
	.navbar-collapse {
		background-color: rgba(0,0,0,0.03);
	}
	.active {
		background-color: #14324B;
		border-bottom: transparent;
	}
	a.active {
		color: #fff;
	}
}

/*--- Jumbotron ---*/
.jumbotron {
	background-image: url(img/law-building.png);
	background-position: center;
	background-size: cover;
	border-radius: 0!important;
	padding: 140px 100px 60px 100px;
	margin-bottom: 0;
	color: #14324B;
	width: 100%;
}
.no-padding {
	padding-left: 0;
	padding-right: 0;
}
#jumbotron-text {
	color: #fff;
	font-size: 36px;
	line-height: 60px;
}
.jumbotron-text-color {
	color: #fff;
}
.jumbotron-img {
	margin: 0 auto;
}
.jumbotron-link {
	color: #fff;
	text-decoration: underline;
}
.jumbotron p {
	color: #fff;
	font-size: 13px;
	line-height: 18px;
}

@media (max-width: 414px) {
	.jumbotron {
		margin-bottom: 0px;
		padding: 15px 5px 10px 5px;
	}
	#jumbotron-text {
		font-size: 20px;
		line-height: 30px;
	}
	.jumbotron h3 {
		font-size: 14px;
		line-height: 20px;
	}
}

/*=== Call to Actions CTA ===*/
/*--- General CTA Styles ---*/
.schedule-an-appt {
	font-size: 14px;
	padding-top: 15px;
}
.schedule-an-appt-home {
	font-size: 18px;
	padding-top: 15px;
}
.phone {
	font-size: 28px;
	font-weight: 300;
	letter-spacing: 2px;
	padding: 10px 0 10px 0;
}
.btn-cta {
	background-color: #FFCA84;
	color: #353535;
	margin: 10px 20px;
	padding: 15px 25px;	
}
.btn-cta-darkblue {
	background-color: #FFCA84;
	color: #353535;
	margin: 10px 20px;
	padding: 15px 25px;	
}
.btn-cta:hover {
	background-color: #FFBD66;
	color: rgba(0,0,0,0.7);
}
.or-hr {
	margin-bottom: 0;
	margin-top: 0px;
	position: relative;
	top: 19px;
	height: 0;
	border: 0;
	border-top: 1px solid #a8a8a8;
	width: 70%;
}
.or-hr-grey {
	margin-bottom: 0;
	margin-top: 0px;
	position: relative;
	top: 19px;
	height: 0;
	border: 0;
	border-top: 1px solid rgba(0,0,0,0.3);
	width: 20%;
}
#or {
	display: inline-block;
	position: relative;
	padding: 10px;
	background-color: #FFFFFF;
	color: #a8a8a8;
	font-size: 0.9em;
}
#or-grey {
	color: #fff;
	display: inline-block;
	position: relative;
	padding: 10px;
	background-color: #172A40;
	font-size: 0.9em;
}

/*--- Home CTA ---*/
#maincta {
	/*background-color: #D6DADF;*/
}
.maincta-bg {
	background-color: #FBFAF8; /*#25282B;*/
	color: #353535;
	padding: 60px 0;
}
.maincta-text {
	font-size: 16px;
	line-height: 28px;
}
.schedule {
	border: 1px solid #000;
}
.or-container {
	text-align: center;
	margin: 0;
	clear: both;
	color: #fff;
	font-variant: small-caps;
}
.message {
	height: 80px;
	width: 100%;
}
label {
	font-family: Lato, sans-serif;
	font-size: 12px;
	font-weight: 300;
	margin-top: 10px;
}
input, textarea {
	border: 1px solid #a8a8a8;
	width: 100%;
}
input:focus, .message:focus {
	outline: none;
}
.btn-form {
	margin: 20px 0;
	background-color: #FFCA84;
	color: #353535;
}
.btn-form:hover {
	background-color: #FFBD66;
	color: rgba(0,0,0,0.7);
}
#ctaform {
	padding: 0 50px;
}
.ctatext {
	padding: 0 30px;
}
/*--- Small CTA ---*/
.ctasmall {
	background-color: #172A40;
	color: #fff;
	padding: 40px 0;
}

@media (max-width: 414px) {
	.maincta-bg {
		padding: 10px 0;
	}
	h3 {
		font-size: 20px;
		line-height: 30px!important;
	}
	.maincta-text {
		font-size: 13px;
		line-height: 24px;
	}
	.ctatext {
		padding: 0px;
	}
	#ctaform {
		padding: 0px;
	}
	.ctasmall {
		padding: 20px 0;
	}
	label {
		font-size: 12px;
	}
}



/*=== NONHOME NAV ===*/
.nonhome {
	border-bottom: 1px solid #1e1e1e;
}

/*=== REVIEWS ===*/
.reviews {
	display: inline-block;
	padding: 30px 0 40px 0;
}
.review-header {
	padding: 20px 0;
}
.review {
	padding: 10px;
}

@media (max-width: 414px) {
	.review-header {
		padding: 10px;
	}
}

/*=== FOOTER ===*/
footer {
	/*background-color: #F6F6F6;*/
	padding: 30px 20px;
}
.footer-label {
	color: #848484;
	font-family: Lato;
	font-size: 12px;
	font-weight: 300;
	padding: 5px 10px;
	text-align: right;
}
footer .nav-link {
	margin-top: 0;
}
/*
.work-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.work-row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
*/

/*=== ABOUT ===*/
#about-col {
	padding-right: 25px;
}
.descriptor {
	padding: 0 0 15px 0;
}
.panel {
	background-color: #F6F6F6;
	border-radius: 0;
	margin-top: 20px;
}
.panel-default {
	border-color: transparent;
}
.panel-body {
	padding: 25px 35px;
}
#info {
	padding: 10px 0;
}
/*.info-title {
	color: rgba(0,0,0,0.5);
	font-size: 12px;
	padding: 5px 10px 5px 0;
}*/
#map {
	margin: 10px 0;
}
#social-media {
	padding: 20px;
}
.social-media-title {
	margin: 20px 0;
}
.gplus-img {
	width: 20%;
}
.yelp-img {
	width: 40%;
}

@media (max-width: 414px) {
	#about-col {
		padding: 0 10px;
	}
	.descriptor {
		padding: 0;
	}
	.lawyer-photo {
		padding-bottom: 10px;
	}
	.lawyer-title {
		padding: 10px 0;
	}
	.panel {
		background-color: transparent;
	}
	.panel-body {
		padding: 10px 0;
	}
	#map {
		margin: 15px 0 0 0;
		position: relative!important;
		max-width: 280px!important;
		width: 90%!important;
	}
	iframe {
		height: 262px;
		margin: 0 auto;
		width: 286px;
	}
	#social-media {
		padding: 0px;
	}
	.social-media-title {
		margin: 0px;
		padding: 30px 15px 20px 15px;
	}
	#gplus-link {
		font-size: 12px;
	}
	.gplus-img {
		width: 30%;
	}
	.yelp-img {
		width: 60%;
	}
}

/*=== SERVICES ===*/
/*.over {
	overflow: hidden;
}*/
.sub-title {
	color: #172A40;
	padding: 15px 0 3px 0;
}
.fill {
	min-height: 100%;
	height: 100%;
}
.sidebar-title {
	font-family: Lato;
	font-size: 20px;
	padding-top: 40px!important;
}
#sidebar-col {
	float: left;
	left: 0;
	padding-left: 0px!important;
}
.sidebar-nav > .navbar {
	background-color: #14324B;
	border: transparent!important;
	border-radius: 0px!important;
	left: 0;
	padding-bottom: 20px;
}
.sidebar-nav > .navbar > ul > li {
	float:none;
}
.sidebar-nav > .navbar > ul > li > a {
	color: #fff;
}
.sidebar-nav > .navbar > ul > li > a:hover, .sidebar-nav > .navbar > ul > li > a:focus {
	color: #000;
}
.targetDiv {
	padding: 40px 20px 20px 20px;
}
.reviews-bg {
	background-color: #F6F6F6;
}
a.more-btn {
	
}

@media (max-width: 414px) {
	.panel-title {
		font-family: Lato, sans-serif;
		font-size: 14px;
	}
	.panel span {
		vertical-align: middle;
	}
	.panel-heading {
		background-color: #14324B!important;
		border-radius: 0px;
		color: #fff!important;
		padding: 20px 15px;
	}
	.service-accordion > .panel {

		margin: 5px 0px;
	}
	.glyphicon-chevron-down {
		display: inline;
/*		min-height: 18px;
    line-height: 18px;
    font-size: 16px;
    width: 1em;
    display: inline-block;
    margin: auto 0px;
    vertical-align: middle;*/
	}
	.panel-collapse {
		background-color: #14324B;
		color: #fff;
		font-size: 13px;
		font-weight: 300;
		padding: 10px 15px 30px 15px;
	}

	.glyphicon-menu-left {
		color: #fff;
		padding-left: 5px;
		vertical-align: middle;
	}
	.service-back {
		color: #fff;
		font-family: Lato, sans-serif;
		font-size: 12px;
		margin-bottom: 0px!important;
		vertical-align: middle;
	}
	.service-title {
		color: #fff;
		font-family: Lato, sans-serif;
		padding-right: 5px;
		text-align: right;
	}
	.service-title-bg {
		background-color: #14324B;
		padding: 10px 0px;
	}
	.spacer-top {
		padding-top: 15px;
	}
}

/*=== CONTACT ===*/
#contact-table {
	margin: 15px auto;
}
.contact-map {
	padding: 20px 0;
	vertical-align: middle!important;
}
/*.contact-form {
	padding: 20px!important;
}*/
.label-white {
	font-weight: 300;
}
.contact-form > input, .contact-form > textarea {
	border-color: #CECECE;
}
.btn-form-dkblue {
	background-color: #14324B;
	margin: 20px 0;
	color: #fff;
}