.version.dapa /* version checker */
{
	color: #0000FE;
	background-color: #8CF0AE;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 852px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 22px;
	width: 0.01px;
}

#u519,#u519-bw
{
	z-index: 14;
	height: 15px;
}

#u521
{
	z-index: 2;
	min-height: 125px;
	padding-bottom: 12px;
}

#u521_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	margin-bottom: -2px;
}

#u489
{
	z-index: 3;
	width: 5px;
	height: 5px;
	margin-right: -10000px;
	margin-top: 58px;
	left: 95px;
}

#u552
{
	z-index: 16;
	margin-right: -10000px;
	margin-top: 14px;
	left: 139px;
}

#u646-4
{
	z-index: 55;
	width: 443px;
	min-height: 34px;
	margin-right: -10000px;
	margin-top: 63px;
	left: 527px;
}

#u521-bw
{
	z-index: 2;
	min-height: 125px;
	margin-top: -2px;
}

#u522
{
	z-index: 15;
	min-height: 47px;
	padding-bottom: 13px;
}

#menuu1252
{
	z-index: 59;
	width: 631px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 274px;
}

#u1253
{
	width: 124px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1254
{
	width: 124px;
	padding-bottom: 12px;
}

#u1256-4
{
	width: 124px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u1254:hover #u1256-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 124px;
	margin: 0px -10000px 0px 0px;
}

#u1267
{
	width: 124px;
	min-height: 34px;
	margin-right: -10000px;
	left: 126px;
}

#u1270
{
	width: 124px;
	padding-bottom: 12px;
}

#u1254.MuseMenuActive,#u1270.MuseMenuActive
{
	width: 124px;
	min-height: 0px;
	margin: 0px;
}

#u1271-4
{
	width: 124px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u1254.MuseMenuActive #u1256-4,#u1270:hover #u1271-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 124px;
	margin: 0px -10000px 0px 0px;
}

#u1270.MuseMenuActive #u1271-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 124px;
	margin: 0px -10000px 0px 0px;
}

#u1260
{
	width: 125px;
	min-height: 34px;
	margin-right: -10000px;
	left: 252px;
}

#u1261
{
	width: 125px;
	padding-bottom: 12px;
}

#u1264-4
{
	width: 125px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u1261:hover #u1264-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 125px;
	margin: 0px -10000px 0px 0px;
}

#u1274
{
	width: 125px;
	min-height: 34px;
	margin-right: -10000px;
	left: 379px;
}

#u1275
{
	width: 125px;
	padding-bottom: 12px;
}

#u1277-4
{
	width: 125px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u1261.MuseMenuActive #u1264-4,#u1275:hover #u1277-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 125px;
	margin: 0px -10000px 0px 0px;
}

#u1281
{
	width: 125px;
	min-height: 34px;
	margin-right: -10000px;
	left: 506px;
}

#u1282
{
	width: 125px;
	padding-bottom: 12px;
}

#u1261.MuseMenuActive,#u1275.MuseMenuActive,#u1282.MuseMenuActive
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u1284-4
{
	width: 125px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u1275.MuseMenuActive #u1277-4,#u1282:hover #u1284-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 125px;
	margin: 0px -10000px 0px 0px;
}

#u1282.MuseMenuActive #u1284-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 125px;
	margin: 0px -10000px 0px 0px;
}

#u522-bw
{
	z-index: 15;
	min-height: 47px;
	margin-top: 1px;
}

#pu597-7
{
	width: 0.01px;
	margin-left: 157px;
	margin-top: 17px;
}

#u597-7
{
	z-index: 48;
	width: 642px;
	min-height: 92px;
	margin-right: -10000px;
}

#u554
{
	z-index: 4;
	width: 5px;
	height: 5px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 945px;
}

.ie #u489,.ie #u554
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#menuu556
{
	z-index: 17;
	width: 629px;
	margin-left: 161px;
	margin-top: 8px;
}

#u564
{
	width: 210px;
	min-height: 59px;
	margin-right: -10000px;
}

#u567
{
	width: 210px;
	padding-bottom: 37px;
}

#u567.MuseMenuActive
{
	width: 210px;
	min-height: 0px;
	margin: 0px;
}

#u568-4
{
	width: 151px;
	min-height: 22px;
	margin-right: -10000px;
	top: 18px;
	left: 29px;
}

#u567:hover #u568-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u567.MuseMenuActive #u568-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u585
{
	width: 103px;
	min-height: 59px;
	margin-right: -10000px;
	left: 212px;
}

#u588
{
	width: 103px;
	padding-bottom: 37px;
}

#u591-4
{
	width: 44px;
	min-height: 22px;
	margin-right: -10000px;
	top: 18px;
	left: 29px;
}

#u588:hover #u591-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u588.MuseMenuActive #u591-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u557
{
	width: 112px;
	min-height: 59px;
	margin-right: -10000px;
	left: 317px;
}

#u560
{
	width: 112px;
	padding-bottom: 37px;
}

#u560.MuseMenuActive
{
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u563-4
{
	width: 54px;
	min-height: 22px;
	margin-right: -10000px;
	top: 18px;
	left: 29px;
}

#u560:hover #u563-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u560.MuseMenuActive #u563-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u571
{
	width: 98px;
	min-height: 59px;
	margin-right: -10000px;
	left: 431px;
}

#u572
{
	width: 98px;
	padding-bottom: 37px;
}

#u575-4
{
	width: 40px;
	min-height: 22px;
	margin-right: -10000px;
	top: 18px;
	left: 29px;
}

#u572:hover #u575-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u578
{
	width: 98px;
	min-height: 59px;
	margin-right: -10000px;
	left: 531px;
}

#u579
{
	width: 98px;
	padding-bottom: 37px;
}

#u572.MuseMenuActive,#u579:hover
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u579.MuseMenuActive
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u580-4
{
	width: 40px;
	min-height: 22px;
	margin-right: -10000px;
	top: 18px;
	left: 29px;
}

#u572.MuseMenuActive #u575-4,#u579:hover #u580-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u579.MuseMenuActive #u580-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u692-42
{
	z-index: 121;
	width: 505px;
	min-height: 766px;
	background-color: transparent;
	line-height: 20px;
	font-family: open-sans, sans-serif;
	margin-left: 244px;
	margin-top: 9px;
	position: relative;
}

#u692-5,#u692-21
{
	font-weight: 700;
}

#u692-23
{
	color: #FF0000;
	font-weight: 700;
}

#u692-18 > li:before,#u692-40 > li:before
{
	content: '•';
}

#u692-2,#u692-3,#u692-7,#u692-9,#u692-11,#u692-13,#u692-15,#u692-17,#u692-19,#u692-25,#u692-27,#u692-29,#u692-31,#u692-33,#u692-35,#u692-37,#u692-39
{
	font-weight: 400;
}

#u520
{
	z-index: 6;
	min-height: 44px;
	padding-bottom: 14px;
}

#u522_align_to_page,#u520_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#menuu1288
{
	z-index: 90;
	width: 523px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 318px;
}

#u1296
{
	width: 103px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1297
{
	width: 103px;
	padding-bottom: 16px;
}

#u1299-4
{
	width: 103px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
}

#u1297:hover #u1299-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u1289
{
	width: 103px;
	min-height: 34px;
	margin-right: -10000px;
	left: 105px;
}

#u1290
{
	width: 103px;
	padding-bottom: 16px;
}

#u1291-4
{
	width: 103px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
}

#u1297.MuseMenuActive #u1299-4,#u1290:hover #u1291-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u1303
{
	width: 103px;
	min-height: 34px;
	margin-right: -10000px;
	left: 210px;
}

#u1306
{
	width: 103px;
	padding-bottom: 16px;
}

#u1307-4
{
	width: 103px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
}

#u1290.MuseMenuActive #u1291-4,#u1306:hover #u1307-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u1310
{
	width: 103px;
	min-height: 34px;
	margin-right: -10000px;
	left: 315px;
}

#u1313
{
	width: 103px;
	padding-bottom: 16px;
}

#u1314-4
{
	width: 103px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
}

#u1306.MuseMenuActive #u1307-4,#u1313:hover #u1314-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u1317
{
	width: 103px;
	min-height: 34px;
	margin-right: -10000px;
	left: 420px;
}

#u1318
{
	width: 103px;
	padding-bottom: 16px;
}

#u588.MuseMenuActive,#u1297.MuseMenuActive,#u1290.MuseMenuActive,#u1306.MuseMenuActive,#u1313.MuseMenuActive,#u1318.MuseMenuActive
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u1320-4
{
	width: 103px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
}

#u1313.MuseMenuActive #u1314-4,#u1318:hover #u1320-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u1318.MuseMenuActive #u1320-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u520-bw
{
	z-index: 6;
	min-height: 44px;
	margin-top: 15px;
}

#pu486
{
	width: 0.01px;
	margin-left: -100px;
}

#u486,#u486-bw
{
	z-index: 5;
	height: 42px;
}

#u487-7
{
	z-index: 7;
	width: 799px;
	min-height: 87px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 185px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

