.version.dapa_padres /* version checker */
{
	color: #000008;
	background-color: #12D3F0;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 852px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 22px;
	width: 0.01px;
}

#u939,#u939-bw
{
	z-index: 13;
	height: 15px;
}

#u933
{
	z-index: 2;
	min-height: 125px;
	padding-bottom: 12px;
}

#u933_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	margin-bottom: -2px;
}

#u937
{
	z-index: 3;
	width: 5px;
	height: 5px;
	margin-right: -10000px;
	margin-top: 58px;
	left: 95px;
}

#u901
{
	z-index: 44;
	margin-right: -10000px;
	margin-top: 14px;
	left: 139px;
}

#u903-4
{
	z-index: 40;
	width: 479px;
	min-height: 34px;
	margin-right: -10000px;
	margin-top: 63px;
	left: 527px;
}

#u933-bw
{
	z-index: 2;
	min-height: 125px;
	margin-top: -2px;
}

#u934
{
	z-index: 14;
	min-height: 47px;
	padding-bottom: 13px;
}

#menuu940
{
	z-index: 15;
	width: 690px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 234px;
}

#u948
{
	width: 111px;
	min-height: 34px;
	margin-right: -10000px;
}

#u949
{
	width: 111px;
	padding-bottom: 12px;
}

#u949.MuseMenuActive
{
	width: 111px;
	min-height: 0px;
	margin: 0px;
}

#u952-4
{
	width: 41px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 35px;
}

#u949:hover #u952-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 41px;
	margin: 0px -10000px 0px 0px;
}

#u949.MuseMenuActive #u952-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 41px;
	margin: 0px -10000px 0px 0px;
}

#u955
{
	width: 210px;
	min-height: 34px;
	margin-right: -10000px;
	left: 113px;
}

#u956
{
	width: 210px;
	padding-bottom: 12px;
}

#u956.MuseMenuActive
{
	width: 210px;
	min-height: 0px;
	margin: 0px;
}

#u959-4
{
	width: 140px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 35px;
}

#u956:hover #u959-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u956.MuseMenuActive #u959-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u962
{
	width: 203px;
	min-height: 34px;
	margin-right: -10000px;
	left: 325px;
}

#u965
{
	width: 203px;
	padding-bottom: 12px;
}

#u965.MuseMenuActive
{
	width: 203px;
	min-height: 0px;
	margin: 0px;
}

#u967-4
{
	width: 133px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 35px;
}

#u965:hover #u967-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u965.MuseMenuActive #u967-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u941
{
	width: 160px;
	min-height: 34px;
	margin-right: -10000px;
	left: 530px;
}

#u942
{
	width: 160px;
	padding-bottom: 12px;
}

#u942.MuseMenuActive
{
	width: 160px;
	min-height: 0px;
	margin: 0px;
}

#u945-4
{
	width: 90px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 35px;
}

#u942:hover #u945-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u942.MuseMenuActive #u945-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u934-bw
{
	z-index: 14;
	min-height: 47px;
	margin-top: 1px;
}

#pu1007-7
{
	width: 0.01px;
	margin-left: 157px;
	margin-top: 17px;
}

#u1007-7
{
	z-index: 101;
	width: 642px;
	min-height: 92px;
	margin-right: -10000px;
}

#u938
{
	z-index: 4;
	width: 5px;
	height: 5px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 945px;
}

.ie #u937,.ie #u938
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#menuu971
{
	z-index: 70;
	width: 635px;
	margin-left: 161px;
	margin-top: 8px;
}

#u972
{
	width: 234px;
	min-height: 59px;
	margin-right: -10000px;
}

#u975
{
	width: 234px;
	padding-bottom: 37px;
}

#u975.MuseMenuActive
{
	width: 234px;
	min-height: 0px;
	margin: 0px;
}

#u978-4
{
	width: 175px;
	min-height: 22px;
	margin-right: -10000px;
	top: 18px;
	left: 29px;
}

#u975:hover #u978-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 175px;
	margin: 0px -10000px 0px 0px;
}

#u975.MuseMenuActive #u978-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 175px;
	margin: 0px -10000px 0px 0px;
}

#u979
{
	width: 103px;
	min-height: 59px;
	margin-right: -10000px;
	left: 236px;
}

#u980
{
	width: 103px;
	padding-bottom: 37px;
}

#u980.MuseMenuActive
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u982-4
{
	width: 44px;
	min-height: 22px;
	margin-right: -10000px;
	top: 18px;
	left: 29px;
}

#u980:hover #u982-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u980.MuseMenuActive #u982-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u986
{
	width: 94px;
	min-height: 59px;
	margin-right: -10000px;
	left: 341px;
}

#u987
{
	width: 94px;
	padding-bottom: 37px;
}

#u987.MuseMenuActive
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u990-4
{
	width: 36px;
	min-height: 22px;
	margin-right: -10000px;
	top: 18px;
	left: 29px;
}

#u987:hover #u990-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 36px;
	margin: 0px -10000px 0px 0px;
}

#u987.MuseMenuActive #u990-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 36px;
	margin: 0px -10000px 0px 0px;
}

#u993
{
	width: 98px;
	min-height: 59px;
	margin-right: -10000px;
	left: 437px;
}

#u994
{
	width: 98px;
	padding-bottom: 37px;
}

#u996-4
{
	width: 40px;
	min-height: 22px;
	margin-right: -10000px;
	top: 18px;
	left: 29px;
}

#u994:hover #u996-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u1000
{
	width: 98px;
	min-height: 59px;
	margin-right: -10000px;
	left: 537px;
}

#u1001
{
	width: 98px;
	padding-bottom: 37px;
}

#u994.MuseMenuActive,#u1001:hover
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u1001.MuseMenuActive
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u1003-4
{
	width: 40px;
	min-height: 22px;
	margin-right: -10000px;
	top: 18px;
	left: 29px;
}

#u994.MuseMenuActive #u996-4,#u1001:hover #u1003-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u1001.MuseMenuActive #u1003-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u1162-42
{
	z-index: 108;
	width: 564px;
	min-height: 903px;
	background-color: transparent;
	line-height: 20px;
	font-family: open-sans, sans-serif;
	margin-left: 207px;
	margin-top: 9px;
	position: relative;
}

#u1162-5,#u1162-21
{
	font-weight: 700;
}

#u1162-23
{
	color: #FF0000;
	font-weight: 700;
}

#u1162-18 > li:before,#u1162-40 > li:before
{
	content: '•';
}

#u1162-2,#u1162-3,#u1162-7,#u1162-9,#u1162-11,#u1162-13,#u1162-15,#u1162-17,#u1162-19,#u1162-25,#u1162-27,#u1162-29,#u1162-31,#u1162-33,#u1162-35,#u1162-37,#u1162-39
{
	font-weight: 400;
}

#u969
{
	z-index: 6;
	min-height: 46px;
	padding-bottom: 12px;
}

#u934_align_to_page,#u969_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#menuu904
{
	z-index: 45;
	width: 553px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 313px;
}

#u905
{
	width: 86px;
	min-height: 34px;
	margin-right: -10000px;
}

#u908
{
	width: 86px;
	padding-bottom: 16px;
}

#u908.MuseMenuActive
{
	width: 86px;
	min-height: 0px;
	margin: 0px;
}

#u911-4
{
	width: 34px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
	left: 26px;
}

#u908:hover #u911-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 34px;
	margin: 0px -10000px 0px 0px;
}

#u908.MuseMenuActive #u911-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 34px;
	margin: 0px -10000px 0px 0px;
}

#u919
{
	width: 170px;
	min-height: 34px;
	margin-right: -10000px;
	left: 88px;
}

#u920
{
	width: 170px;
	padding-bottom: 16px;
}

#u920.MuseMenuActive
{
	width: 170px;
	min-height: 0px;
	margin: 0px;
}

#u921-4
{
	width: 118px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
	left: 26px;
}

#u920:hover #u921-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u920.MuseMenuActive #u921-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u912
{
	width: 164px;
	min-height: 34px;
	margin-right: -10000px;
	left: 260px;
}

#u915
{
	width: 164px;
	padding-bottom: 16px;
}

#u915.MuseMenuActive
{
	width: 164px;
	min-height: 0px;
	margin: 0px;
}

#u916-4
{
	width: 112px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
	left: 26px;
}

#u915:hover #u916-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 112px;
	margin: 0px -10000px 0px 0px;
}

#u915.MuseMenuActive #u916-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 112px;
	margin: 0px -10000px 0px 0px;
}

#u926
{
	width: 127px;
	min-height: 34px;
	margin-right: -10000px;
	left: 426px;
}

#u927
{
	width: 127px;
	padding-bottom: 16px;
}

#u927.MuseMenuActive
{
	width: 127px;
	min-height: 0px;
	margin: 0px;
}

#u930-4
{
	width: 76px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
	left: 25px;
}

#u927:hover #u930-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u927.MuseMenuActive #u930-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u969-bw
{
	z-index: 6;
	min-height: 46px;
	margin-top: 15px;
}

#pu935
{
	width: 0.01px;
	margin-left: -100px;
}

#u935,#u935-bw
{
	z-index: 5;
	height: 42px;
}

#u936-6
{
	z-index: 7;
	width: 799px;
	min-height: 87px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 185px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

