.version.espa_ol /* version checker */
{
	color: #000012;
	background-color: #C43941;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 852px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 22px;
	width: 0.01px;
}

#u741,#u741-bw
{
	z-index: 13;
	height: 15px;
}

#u739
{
	z-index: 2;
	min-height: 125px;
	padding-bottom: 12px;
}

#u739_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	margin-bottom: -2px;
}

#u779
{
	z-index: 3;
	width: 5px;
	height: 5px;
	margin-right: -10000px;
	margin-top: 58px;
	left: 95px;
}

#u819
{
	z-index: 44;
	margin-right: -10000px;
	margin-top: 14px;
	left: 139px;
}

#u821-4
{
	z-index: 40;
	width: 479px;
	min-height: 34px;
	margin-right: -10000px;
	margin-top: 63px;
	left: 527px;
}

#u739-bw
{
	z-index: 2;
	min-height: 125px;
	margin-top: -2px;
}

#u740
{
	z-index: 14;
	min-height: 47px;
	padding-bottom: 13px;
}

#menuu742
{
	z-index: 15;
	width: 690px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 234px;
}

#u840
{
	width: 111px;
	min-height: 34px;
	margin-right: -10000px;
}

#u841
{
	width: 111px;
	padding-bottom: 12px;
}

#u841.MuseMenuActive
{
	width: 111px;
	min-height: 0px;
	margin: 0px;
}

#u844-4
{
	width: 41px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 35px;
}

#u841:hover #u844-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 41px;
	margin: 0px -10000px 0px 0px;
}

#u841.MuseMenuActive #u844-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 41px;
	margin: 0px -10000px 0px 0px;
}

#u764
{
	width: 210px;
	min-height: 34px;
	margin-right: -10000px;
	left: 113px;
}

#u767
{
	width: 210px;
	padding-bottom: 12px;
}

#u767.MuseMenuActive
{
	width: 210px;
	min-height: 0px;
	margin: 0px;
}

#u769-4
{
	width: 140px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 35px;
}

#u767:hover #u769-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u767.MuseMenuActive #u769-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 140px;
	margin: 0px -10000px 0px 0px;
}

#u826
{
	width: 203px;
	min-height: 34px;
	margin-right: -10000px;
	left: 325px;
}

#u827
{
	width: 203px;
	padding-bottom: 12px;
}

#u827.MuseMenuActive
{
	width: 203px;
	min-height: 0px;
	margin: 0px;
}

#u830-4
{
	width: 133px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 35px;
}

#u827:hover #u830-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u827.MuseMenuActive #u830-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u833
{
	width: 160px;
	min-height: 34px;
	margin-right: -10000px;
	left: 530px;
}

#u836
{
	width: 160px;
	padding-bottom: 12px;
}

#u836.MuseMenuActive
{
	width: 160px;
	min-height: 0px;
	margin: 0px;
}

#u838-4
{
	width: 90px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 35px;
}

#u836:hover #u838-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u836.MuseMenuActive #u838-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u740-bw
{
	z-index: 14;
	min-height: 47px;
	margin-top: 1px;
}

#pu879-4
{
	width: 0.01px;
	margin-left: 19px;
	margin-top: 27px;
}

#u879-4
{
	z-index: 79;
	width: 921px;
	min-height: 38px;
	background-color: transparent;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u778
{
	z-index: 4;
	width: 5px;
	height: 5px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 1083px;
}

.ie #u779,.ie #u778
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u878-4
{
	z-index: 75;
	width: 644px;
	min-height: 114px;
	background-color: transparent;
	line-height: 20px;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 163px;
	margin-top: 24px;
	position: relative;
}

#u889-4
{
	z-index: 114;
	width: 636px;
	min-height: 35px;
	background-color: transparent;
	color: #04008C;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-left: 166px;
	margin-top: 16px;
	position: relative;
}

#pu882
{
	width: 0.01px;
	margin-left: 82px;
	margin-top: -1px;
}

#u882
{
	z-index: 107;
	width: 264px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
}

#u883
{
	z-index: 108;
	width: 336px;
	background-color: transparent;
	margin-bottom: -31px;
	position: relative;
	margin-right: -10000px;
	margin-top: -31px;
	left: -93px;
}

#u885
{
	z-index: 110;
	width: 336px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 230px;
}

#u887
{
	z-index: 112;
	width: 336px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 553px;
}

#pu876
{
	width: 0.01px;
	margin-left: 48px;
	margin-top: 18px;
}

#u876
{
	z-index: 70;
	width: 859px;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/mezzo-u689-fr.png") repeat left top;
	background-color: rgba(255,255,255,0.49);
}

#u876_position_content
{
	padding-top: 107px;
	padding-bottom: 57px;
}

#u877-4
{
	z-index: 71;
	width: 922px;
	min-height: 23px;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	font-style: italic;
	left: -29px;
	position: relative;
}

#u880-20
{
	z-index: 83;
	width: 661px;
	min-height: 740px;
	background-color: transparent;
	line-height: 20px;
	text-align: left;
	margin-left: 102px;
	margin-top: 36px;
	position: relative;
}

#u880-2,#u880-5,#u880-7,#u880-12,#u880-14,#u880-16
{
	padding-bottom: 10px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u880-4,#u880-9,#u880-10,#u880-18
{
	padding-bottom: 10px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	font-style: italic;
}

#u881-4
{
	z-index: 103;
	width: 521px;
	min-height: 38px;
	background-color: transparent;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 172px;
}

#u780
{
	z-index: 6;
	min-height: 46px;
	padding-bottom: 12px;
}

#u740_align_to_page,#u780_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#menuu847
{
	z-index: 45;
	width: 553px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 313px;
}

#u862
{
	width: 86px;
	min-height: 34px;
	margin-right: -10000px;
}

#u863
{
	width: 86px;
	padding-bottom: 16px;
}

#u863.MuseMenuActive
{
	width: 86px;
	min-height: 0px;
	margin: 0px;
}

#u865-4
{
	width: 34px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
	left: 26px;
}

#u863:hover #u865-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 34px;
	margin: 0px -10000px 0px 0px;
}

#u863.MuseMenuActive #u865-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 34px;
	margin: 0px -10000px 0px 0px;
}

#u869
{
	width: 170px;
	min-height: 34px;
	margin-right: -10000px;
	left: 88px;
}

#u870
{
	width: 170px;
	padding-bottom: 16px;
}

#u870.MuseMenuActive
{
	width: 170px;
	min-height: 0px;
	margin: 0px;
}

#u873-4
{
	width: 118px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
	left: 26px;
}

#u870:hover #u873-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u870.MuseMenuActive #u873-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u848
{
	width: 164px;
	min-height: 34px;
	margin-right: -10000px;
	left: 260px;
}

#u849
{
	width: 164px;
	padding-bottom: 16px;
}

#u849.MuseMenuActive
{
	width: 164px;
	min-height: 0px;
	margin: 0px;
}

#u851-4
{
	width: 112px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
	left: 26px;
}

#u849:hover #u851-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 112px;
	margin: 0px -10000px 0px 0px;
}

#u849.MuseMenuActive #u851-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 112px;
	margin: 0px -10000px 0px 0px;
}

#u855
{
	width: 127px;
	min-height: 34px;
	margin-right: -10000px;
	left: 426px;
}

#u856
{
	width: 127px;
	padding-bottom: 16px;
}

#u856.MuseMenuActive
{
	width: 127px;
	min-height: 0px;
	margin: 0px;
}

#u857-4
{
	width: 76px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
	left: 25px;
}

#u856:hover #u857-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u856.MuseMenuActive #u857-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u780-bw
{
	z-index: 6;
	min-height: 46px;
	margin-top: 15px;
}

#pu781
{
	width: 0.01px;
	margin-left: -100px;
}

#u781,#u781-bw
{
	z-index: 5;
	height: 42px;
}

#u782-6
{
	z-index: 7;
	width: 799px;
	min-height: 87px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 185px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

