.version.index /* version checker */
{
	color: #000014;
	background-color: #1260FE;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 534px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 22px;
	width: 0.01px;
}

#u176,#u176-bw
{
	z-index: 14;
	height: 15px;
}

#u237
{
	z-index: 2;
	min-height: 125px;
	padding-bottom: 12px;
}

#u237_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	margin-bottom: -2px;
}

#u75
{
	z-index: 3;
	width: 5px;
	height: 5px;
	margin-right: -10000px;
	margin-top: 58px;
	left: 95px;
}

#u232
{
	z-index: 53;
	margin-right: -10000px;
	margin-top: 14px;
	left: 139px;
}

#u220-4
{
	z-index: 49;
	width: 443px;
	min-height: 34px;
	margin-right: -10000px;
	margin-top: 63px;
	left: 527px;
}

#u237-bw
{
	z-index: 2;
	min-height: 125px;
	margin-top: -2px;
}

#pu1187-3
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 1px;
}

#u1187-3,#u1187-3-bw
{
	z-index: 15;
	min-height: 60px;
}

#menuu178
{
	z-index: 18;
	width: 631px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 274px;
}

#u179
{
	width: 124px;
	min-height: 34px;
	margin-right: -10000px;
}

#u182
{
	width: 124px;
	padding-bottom: 12px;
}

#u184-4
{
	width: 124px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u182:hover #u184-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 124px;
	margin: 0px -10000px 0px 0px;
}

#u1188
{
	width: 124px;
	min-height: 34px;
	margin-right: -10000px;
	left: 126px;
}

#u1191
{
	width: 124px;
	padding-bottom: 12px;
}

#u182.MuseMenuActive,#u1191.MuseMenuActive
{
	width: 124px;
	min-height: 0px;
	margin: 0px;
}

#u1193-4
{
	width: 124px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u182.MuseMenuActive #u184-4,#u1191:hover #u1193-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 124px;
	margin: 0px -10000px 0px 0px;
}

#u1191.MuseMenuActive #u1193-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 124px;
	margin: 0px -10000px 0px 0px;
}

#u1195
{
	width: 125px;
	min-height: 34px;
	margin-right: -10000px;
	left: 252px;
}

#u1198
{
	width: 125px;
	padding-bottom: 12px;
}

#u1201-4
{
	width: 125px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u1198:hover #u1201-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 125px;
	margin: 0px -10000px 0px 0px;
}

#u1202
{
	width: 125px;
	min-height: 34px;
	margin-right: -10000px;
	left: 379px;
}

#u1205
{
	width: 125px;
	padding-bottom: 12px;
}

#u1207-4
{
	width: 125px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u1198.MuseMenuActive #u1201-4,#u1205:hover #u1207-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 125px;
	margin: 0px -10000px 0px 0px;
}

#u1209
{
	width: 125px;
	min-height: 34px;
	margin-right: -10000px;
	left: 506px;
}

#u1210
{
	width: 125px;
	padding-bottom: 12px;
}

#u1198.MuseMenuActive,#u1205.MuseMenuActive,#u1210.MuseMenuActive
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u1211-4
{
	width: 125px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u1205.MuseMenuActive #u1207-4,#u1210:hover #u1211-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 125px;
	margin: 0px -10000px 0px 0px;
}

#u1210.MuseMenuActive #u1211-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 125px;
	margin: 0px -10000px 0px 0px;
}

#pu660-4
{
	width: 0.01px;
	margin-left: 220px;
	margin-top: 24px;
}

#u660-4
{
	z-index: 94;
	width: 521px;
	min-height: 38px;
	background-color: transparent;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u76
{
	z-index: 4;
	width: 5px;
	height: 5px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 882px;
}

.ie #u75,.ie #u76
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u659-4
{
	z-index: 90;
	width: 644px;
	min-height: 114px;
	background-color: transparent;
	line-height: 20px;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 163px;
	margin-top: 7px;
	position: relative;
}

#u696-4
{
	z-index: 129;
	width: 636px;
	min-height: 35px;
	background-color: transparent;
	color: #04008C;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-left: 166px;
	margin-top: 16px;
	position: relative;
}

#pu663
{
	width: 0.01px;
	margin-left: 82px;
	margin-top: -1px;
}

#u663
{
	z-index: 122;
	width: 264px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
}

#u664
{
	z-index: 123;
	width: 336px;
	background-color: transparent;
	margin-bottom: -31px;
	position: relative;
	margin-right: -10000px;
	margin-top: -31px;
	left: -93px;
}

#u673
{
	z-index: 125;
	width: 336px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 230px;
}

#u682
{
	z-index: 127;
	width: 336px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 553px;
}

#pu689
{
	width: 0.01px;
	margin-left: 48px;
	margin-top: 18px;
}

#u689
{
	z-index: 85;
	width: 859px;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/mezzo-u689-fr.png") repeat left top;
	background-color: rgba(255,255,255,0.49);
}

#u689_position_content
{
	padding-top: 107px;
	padding-bottom: 35px;
}

#u615-4
{
	z-index: 86;
	width: 922px;
	min-height: 23px;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	font-style: italic;
	left: -29px;
	position: relative;
}

#u661-20
{
	z-index: 98;
	width: 648px;
	min-height: 665px;
	background-color: transparent;
	line-height: 20px;
	text-align: left;
	margin-left: 118px;
	margin-top: 36px;
	position: relative;
}

#u661-2,#u661-5,#u661-7,#u661-12,#u661-14,#u661-16
{
	padding-bottom: 8px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u661-4,#u661-9,#u661-10,#u661-18
{
	padding-bottom: 8px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	font-style: italic;
}

#u662-4
{
	z-index: 118;
	width: 521px;
	min-height: 38px;
	background-color: transparent;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 172px;
}

#u78
{
	z-index: 6;
	min-height: 44px;
	padding-bottom: 14px;
}

#u78_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#menuu1216
{
	z-index: 54;
	width: 523px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 318px;
}

#u1217
{
	width: 103px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1218
{
	width: 103px;
	padding-bottom: 16px;
}

#u1220-4
{
	width: 103px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
}

#u1218:hover #u1220-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u1231
{
	width: 103px;
	min-height: 34px;
	margin-right: -10000px;
	left: 105px;
}

#u1234
{
	width: 103px;
	padding-bottom: 16px;
}

#u1235-4
{
	width: 103px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
}

#u1218.MuseMenuActive #u1220-4,#u1234:hover #u1235-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u1224
{
	width: 103px;
	min-height: 34px;
	margin-right: -10000px;
	left: 210px;
}

#u1225
{
	width: 103px;
	padding-bottom: 16px;
}

#u1228-4
{
	width: 103px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
}

#u1234.MuseMenuActive #u1235-4,#u1225:hover #u1228-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u1238
{
	width: 103px;
	min-height: 34px;
	margin-right: -10000px;
	left: 315px;
}

#u1239
{
	width: 103px;
	padding-bottom: 16px;
}

#u1241-4
{
	width: 103px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
}

#u1225.MuseMenuActive #u1228-4,#u1239:hover #u1241-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u1245
{
	width: 103px;
	min-height: 34px;
	margin-right: -10000px;
	left: 420px;
}

#u1246
{
	width: 103px;
	padding-bottom: 16px;
}

#u1218.MuseMenuActive,#u1234.MuseMenuActive,#u1225.MuseMenuActive,#u1239.MuseMenuActive,#u1246.MuseMenuActive
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u1248-4
{
	width: 103px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
}

#u1239.MuseMenuActive #u1241-4,#u1246:hover #u1248-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u1246.MuseMenuActive #u1248-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u78-bw
{
	z-index: 6;
	min-height: 44px;
	margin-top: 15px;
}

#pu77
{
	width: 0.01px;
	margin-left: -100px;
}

#u77,#u77-bw
{
	z-index: 5;
	height: 42px;
}

#u172-7
{
	z-index: 7;
	width: 799px;
	min-height: 87px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 185px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

